<div class='input__container'>
  <i class='material-icons'> search </i>
  <input type='text' name='query' autocomplete='off' placeholder='Search images...' />
</div>
<button class='btn search-btn js-search-btn'>Search</button>