.basicLightbox:after {
  content: '';
  position: absolute;
  top: 1.8rem;
  right: 1.8rem;
  width: 2em;
  height: 2em;
  background: url('/images/close.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

.lightbox__img {
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}
